/*Font Style*/

@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e5e5e7;
}

.D1 {
    display: flex;
}

nav {
    width: 95px;
    height: 100vh;
    background: #fff;
    transition: 0.5s ease-out;
    overflow: hidden;
}

    nav:hover {
        width: 290px;
    }

.navbar {
    padding: 1rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo1 {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    margin-bottom: 2rem
}

    .logo1 img {
        width: 45px;
        height: 45px;
        border-radius: 10%;
    }

    .logo1 span {
        font-size: 18px;
        font-weight: bold;
        padding-left: 15px;
        font-family: "Permanent Marker", sans-serif;
        color: #Ffcc01;
        text-transform: uppercase;
    }

.navbar a {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: rgb(39,39,39);
    font-weight: 500;
    overflow: hidden;
}

.navbar i {
    font-size: 1.2rem;
    color: rgb(104,103,103);
    margin: 0 1.8rem 0 0.3rem;
}

.navbar a:hover {
    background: rgb(238,237,237);
    border-radius: 15px;
    transition: 0.3s ease-out;
}

.navbar a.active, .navbar a.active:hover {
    background: #B8E2F2;
    border-radius: 15px;
}

.LG1 {
    padding: 1rem;
    position: relative;
    display: flex;
}

    .LG1 i {
        font-size: 1.2rem;
        color: rgb(104,103,103);
        margin: 0 1.8rem 0 0.3rem;
    }

.LG2 {
    padding: 1.5rem 2rem;
    width: 100%;
}

.header i {
    margin: 1.3rem 0;
    color: rgb(68,68,68);
}

.header span {
    padding-left: 35%;
    color: #1260cc;
    font-weight: 1000;
}

.header h1 {
    padding-left: 0.5%;
}

.tablee1 {
    display: flex;
    justify-content: space-evenly;
}

.humidity {
    padding: 1rem;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 180px;
}

    .humidity img {
        width: 50px;
        margin-bottom: 10px;
    }

    .humidity h3 {
        font-size: 2rem;
    }

    .humidity span {
        font-size: 20px;
    }

    .humidity:hover {
        background: #fff;
        transition: 0.5s ease-out;
    }

.tablee1 .humidity h4 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.Chart11 {
    width: 521px;
    height: 365px;
    background-color: #B8E2F2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.Chart12 {
    display: flex;
    justify-content: space-evenly;
}

.Chart13 {
    width: 521px;
    height: 365px;
    background-color: #B8E2F2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
